In [1]:
import pandas as pd

In [2]:
results = pd.read_csv('../../DataPlus/topics_and_features.csv')

In [3]:
results.head(10)

,fscore,features,auc,num_features,feat_importance
0,0.566383,"gleason, edu_binary, Advice1, age, active_surv...",0.703571,7,"age: 0.5716, active_surveillance_topic: -0.029..."
1,0.563744,"gleason, edu_binary, Advice1, active_surveilla...",0.690873,6,"active_surveillance_topic: -0.0207, appt_topic..."
2,0.557386,"gleason, edu_binary, Advice1, white_binary, age",0.695556,5,"age: 0.8077, 7.0: -1.6127, No College Degree: ..."
3,0.557201,"gleason, marry_binary, edu_binary, Advice1, ag...",0.698016,6,"age: 0.6501, appt_topic: -0.2729, 7.0: -1.2025..."
4,0.557153,"gleason, Advice1, radiation_topic, appt_topic,...",0.690238,5,"radiation_topic: -0.1321, appt_topic: -0.2445,..."
5,0.555569,"gleason, Advice1, age, surgery_topic",0.697063,4,"age: 0.6121, surgery_topic: -0.6968, 7.0: -0.9..."
6,0.553584,"gleason, edu_binary, Advice1, age, radiation_t...",0.703016,5,"age: 0.5147, radiation_topic: 0.0897, 7.0: -1...."
7,0.552836,"gleason, Advice1, white_binary, appt_topic, su...",0.694206,5,"appt_topic: -0.3578, surgery_topic: -0.7325, 7..."
8,0.549395,"marry_binary, edu_binary, Advice1, white_binar...",0.690159,7,"age: 0.7101, appt_topic: -0.13, surgery_topic:..."
9,0.547911,"gleason, marry_binary, Advice1, age, appt_topi...",0.705476,6,"age: 0.486, appt_topic: -0.2747, surgery_topic..."

In [4]:
results.reset_index(level=0, inplace=True)

## All Topics

In [5]:
def topic_finder(features):
    if 'topic' in features:
        return True
    else:
        return False

In [6]:
results['includes_topic'] = results['features'].map(topic_finder)

In [7]:
results['includes_topic'].head(3)

0     True
1     True
2    False
Name: includes_topic, dtype: bool

In [8]:
results.groupby('includes_topic').agg(['mean', 'count'])['index']

                      mean  count
includes_topic
False           588.952381     63
True            505.884375    960

In [9]:
results.groupby('includes_topic').agg(['mean', 'count'])['auc']

                    mean  count
includes_topic
False           0.579362     63
True            0.595427    960

In [10]:
results.groupby('includes_topic').agg(['mean', 'count'])['fscore']

                    mean  count
includes_topic
False           0.361773     46
True            0.346539    900

## Surgery Topic

In [11]:
def surgery_finder(features):
    if 'surgery_topic' in features:
        return True
    else:
        return False

In [12]:
results['includes_surgery_topic'] = results['features'].map(surgery_finder)

In [13]:
results.groupby('includes_surgery_topic').agg(['mean', 'count'])['index']

                              mean  count
includes_surgery_topic
False                   596.786693    511
True                    425.380859    512

In [14]:
results.groupby('includes_surgery_topic').agg(['mean', 'count'])['auc']

                            mean  count
includes_surgery_topic
False                   0.576243    511
True                    0.612597    512

In [15]:
results.groupby('includes_surgery_topic').agg(['mean', 'count'])['fscore']

                            mean  count
includes_surgery_topic
False                   0.311827    434
True                    0.377331    512

## Appointment Topic

In [16]:
def appt_finder(features):
    if 'appt_topic' in features:
        return True
    else:
        return False

In [17]:
results['includes_appt_topic'] = results['features'].map(appt_finder)

In [18]:
results.groupby('includes_appt_topic').agg(['mean', 'count'])['index']

                           mean  count
includes_appt_topic
False                535.911937    511
True                 486.136719    512

In [19]:
results.groupby('includes_appt_topic').agg(['mean', 'count'])['auc']

                         mean  count
includes_appt_topic
False                0.589543    511
True                 0.599322    512

In [20]:
results.groupby('includes_appt_topic').agg(['mean', 'count'])['fscore']

                         mean  count
includes_appt_topic
False                0.333168    473
True                 0.361391    473

## Active Surveillance Topic

In [21]:
def as_finder(features):
    if 'active_surveillance_topic' in features:
        return True
    else:
        return False

In [22]:
results['includes_as_topic'] = results['features'].map(as_finder)

In [23]:
results.groupby('includes_as_topic').agg(['mean', 'count'])['index']

                         mean  count
includes_as_topic
False              501.062622    511
True               520.917969    512

In [24]:
results.groupby('includes_as_topic').agg(['mean', 'count'])['auc']

                       mean  count
includes_as_topic
False              0.597290    511
True               0.591591    512

In [25]:
results.groupby('includes_as_topic').agg(['mean', 'count'])['fscore']

                       mean  count
includes_as_topic
False              0.360245    459
True               0.335059    487

## Radiation Topic

In [26]:
def rad_finder(features):
    if 'radiation_topic' in features:
        return True
    else:
        return False

In [27]:
results['includes_rad_topic'] = results['features'].map(rad_finder)

In [28]:
results.groupby('includes_rad_topic').agg(['mean', 'count'])['index']

                          mean  count
includes_rad_topic
False               504.651663    511
True                517.335938    512

In [29]:
results.groupby('includes_rad_topic').agg(['mean', 'count'])['auc']

                        mean  count
includes_rad_topic
False               0.594330    511
True                0.594546    512

In [30]:
results.groupby('includes_rad_topic').agg(['mean', 'count'])['fscore']

                        mean  count
includes_rad_topic
False               0.349692    464
True                0.344957    482